html {
	background-color: #000000;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 15px;
	letter-spacing: -0.6px;
	word-spacing: 0px;
	color: #FFFFFF;
	font-weight: normal;
	text-decoration: rgb(232, 230, 227);
	font-style: normal;
	font-variant: normal;
	text-transform: none;
}

button {
	border: 4px double #808080;
	color: rgb(128, 255, 128);
	font-size: 14px;
	line-height: 14px;
	padding: 7px;
	border-radius: 10px;
	background-image: linear-gradient(to right, rgb(0, 64, 0) 0%, rgb(0, 128, 0) 50%, rgb(0, 64, 0) 100%);
	box-shadow: rgb(0, 0, 0) 0px 0px 50px 15px;
	display: inline-block;
}

.big-section {
	border: 6px outset #B0B0FF;
	background: #303030;
	background: -moz-linear-gradient(-45deg, #303030 0%, #000040 50%, #101010 100%);
	background: -webkit-linear-gradient(-45deg, #303030 0%, #000040 50%, #101010 100%);
	background: linear-gradient(135deg, #303030 0%, #000040 50%, #101010 100%);
}
.medium-section {
	border: 5px inset #A0F0F0;
	background: #091414;
	background: -moz-linear-gradient(45deg, #091414 0%, #003737 50%, #080808 100%);
	background: -webkit-linear-gradient(45deg, #091414 0%, #003737 50%, #080808 100%);
	background: linear-gradient(45deg, #091414 0%, #003737 50%, #080808 100%);
}
.small-section {
	border: 5px ridge #A0FBA9;
	background: #061f06;
	background: -moz-linear-gradient(top, #061f06 0%, #113711 50%, #101B10 100%);
	background: -webkit-linear-gradient(top, #061f06 0%, #113711 50%, #101B10 100%);
	background: linear-gradient(to bottom, #061f06 0%, #113711 50%, #101B10 100%);
}
